---
import BaseLayout from "../layouts/BaseLayout.astro";
let title = "About";
---
<BaseLayout title = {title}>
<p>About - Lorem ipsum dolor sit amet consectetur adipisicing elit. A quia pariatur cupiditate maiores aliquid voluptate provident repellendus? Quaerat amet ducimus dicta quasi! Praesentium, cum distinctio. Expedita sapiente aut assumenda mollitia quidem provident nisi veniam repellat autem aspernatur, perspiciatis culpa repellendus laborum officiis non sunt ratione est eaque laudantium quas ab!</p>
</BaseLayout>