---
import BaseLayout from "../layouts/BaseLayout.astro";
let title = "Gallery";
---
<BaseLayout title = {title}>
<p>Gallery - Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sint velit ipsum reprehenderit. Earum alias totam beatae eos sed quos atque possimus ex sapiente, qui magnam aspernatur fugit sunt dicta, vitae rerum accusamus eveniet obcaecati maiores maxime. Officia porro facilis omnis possimus minus. Sunt voluptatum corrupti pariatur illo autem repellat?</p>
</BaseLayout>