---
import BaseLayout from "../layouts/BaseLayout.astro";
let title = "Home";
---
<BaseLayout title = {title}>
<p>Home - Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dolorem labore modi nam quisquam, illum veniam in debitis maxime inventore fuga, adipisci maiores, officia sed. Dolorem, fugit similique debitis fugiat possimus ipsa ullam facilis pariatur consequatur quisquam esse quaerat nihil velit, obcaecati necessitatibus natus perferendis blanditiis laborum atque ea culpa!</p>
</BaseLayout>