---
const links = ["Home", "About", "Gallery", "Contact"];
---

<!-- <nav><a href="/">Home</a> | <a href="/about/">About</a> | <a href="/gallery/">Gallery</a></nav> -->

<nav>
    <ul>
        {links.map((link) => <li> {link} </li>)}
    </ul>
</nav>
<style>
    ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
        padding: 1rem;
        background-color: red;
    }
    li{
        padding: 0.5rem;
        background-color: pink;
    }
</style>