---
import BaseLayout from "../../layouts/BaseLayout.astro";
let title = "Markdown";

// Import markdown as a component
import {Content as MyMarkdownComponent} from "../../components/markdown000.md";

// Import multiple markdown files 
// Create a list of files (Array)
const myMarkdownFiles = await Astro.glob("./*.md");
---
<BaseLayout title = {title}>
<!-- <h2>Markdown Component Example</h2>
<MyMarkdownComponent /> -->
<h2>Markdown Multiple Files</h2>
<ul>
    {
    myMarkdownFiles.map((file) => 
    <li>
        <a href={file.url}>{file.frontmatter.title}</a>
    </li>)
    }
</ul>
</BaseLayout>